node_modules/
dist/
.coverage/
.claude/worktrees/
.vitepress/cache/
*.tsbuildinfo
.DS_Store
.todo
api.rest
packages/orms/prisma/prisma/generated/
packages/orms/prisma/template.db
docs/.vitepress/cache